﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Desc"]" />

    <title>@ViewData["Title"] - LunarDev</title>

    <!--Page specific css-->
    @RenderSection("Style", false)

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200" rel="stylesheet" />

    <!-- Icons -->
    <link href="~/lib/material-dashboard-kit/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/lib/material-dashboard-kit/css/nucleo-svg.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <script src="https://kit.fontawesome.com/d8ef3bbe55.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!--Css-->
    <link rel="stylesheet" href="~/lib/material-dashboard-kit/css/material-dashboard.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="g-sidenav-show g-sidenav-hidden bg-gray-200">

    <!--Side Bar-->
    <aside class="sidenav collapse navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard-pro/pages/dashboards/analytics.html " target="_blank">
                <img src="~/imgs/lunarDev-Logo.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">Lunar Development</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2" />
        <div class="collapse navbar-collapse w-auto ps" id="sidenav-collapse-main">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">
                                <i class="material-symbols-outlined me-2">home</i>
                                <span class="nav-link-text ms-2 ps-1">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="About" asp-controller="Home">
                                <i class="material-symbols-outlined me-2">info</i>
                                <span class="nav-link-text ms-2 ps-1">About Me</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#ProjectsNav" class="nav-link text-white" aria-controls="ProjectsNav" role="button" aria-expanded="false">
                                <i class="material-symbols-outlined me-2">task</i>
                                <span class="nav-link-text ms-2 ps-1">Projects</span>
                            </a>
                            <div class="collapse" id="ProjectsNav" style="">
                                <ul class="nav ">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="../../pages/pages/profile/overview.html">
                                            <span class="sidenav-mini-icon"> I </span>
                                            <span class="sidenav-normal  ms-3  ps-1"> Issue Tracker </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white " href="../../pages/pages/account/settings.html">
                                            <span class="sidenav-mini-icon"> T </span>
                                            <span class="sidenav-normal  ms-3  ps-1"> Twitch Features </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white " href="../../pages/authentication/signin/basic.html">
                                            <span class="sidenav-mini-icon"> L </span>
                                            <span class="sidenav-normal  ms-3  ps-1"> Links </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item visually-hidden">
                            <a class="nav-link" href="https://github.com/creativetimofficial/ct-material-dashboard-pro/blob/master/CHANGELOG.md" target="_blank">
                                <i class="material-symbols-outlined me-2">receipt_long</i>
                                <span class="nav-link-text ms-2 ps-1">Docs</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li>
                            <hr class="horizontal light mt-2" />
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>
    </aside>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">

        <!--Top Bar-->
        <nav class="navbar navbar-main bg-gradient-dark bg-gradient-dark navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 mb-3 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    @await RenderSectionAsync("Breadcrumb", false)
                </nav>
                <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none">
                    <a href="javascript:;" class="nav-link text-body p-0">
                        <div class="sidenav-toggler-inner text-white">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </div>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div class="input-group input-group-outline visually-hidden">
                            <label class="form-label">Search here</label>
                            <input type="text" class="form-control text-white" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                    </div>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a href="javascript:darkModeToggler();" class="nav-link text-body p-0">
                                <i class="material-symbols-outlined fixed-plugin-button-nav cursor-pointer text-white">
                                    dark_mode
                                </i>
                            </a>
                        </li>
                        <li class="nav-item dropdown pe-2 visually-hidden">
                            <a href="javascript:;" class="nav-link text-body p-0 position-relative" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="material-symbols-outlined cursor-pointer text-white">
                                    notifications
                                </i>
                                <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger border border-white small py-1 px-2">
                                    <span class="small">11</span>
                                    <span class="visually-hidden">unread notifications</span>
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end p-2 me-sm-n4" aria-labelledby="dropdownMenuButton">
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex align-items-center py-1">
                                            <div class="my-auto">
                                                <span class="material-symbols-outlined">
                                                    email
                                                </span>
                                            </div>
                                            <div class="ms-2">
                                                <h6 class="text-sm font-weight-normal mb-0">
                                                    New message from Laur
                                                </h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex align-items-center py-1">
                                            <div class="my-auto">
                                                <span class="material-symbols-outlined">
                                                    headphones
                                                </span>
                                            </div>
                                            <div class="ms-2">
                                                <h6 class="text-sm font-weight-normal mb-0">
                                                    New album by Travis Scott
                                                </h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex align-items-center py-1">
                                            <div class="my-auto">
                                                <span class="material-symbols-outlined">
                                                    shopping_cart
                                                </span>
                                            </div>
                                            <div class="ms-2">
                                                <h6 class="text-sm font-weight-normal mb-0">
                                                    Payment successfully completed
                                                </h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            @RenderBody()
        </div>

        <footer class="border-top border-dark footer mb-3">
            <div class="w-100 mt-auto d-none d-sm-block">
                <div class="container pt-2">
                    &copy; 2022 - Lunar-Dev - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="link-dark">Privacy</a>
                </div>
            </div>
        </footer>
    </main>

    <!-- Core -->
    <script src="~/lib/material-dashboard-kit/js/core/popper.min.js"></script>
    <script src="~/lib/material-dashboard-kit/js/core/bootstrap.min.js"></script>

    <!-- Optional JS -->
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Theme JS -->
    <script src="~/lib/material-dashboard-kit/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/lib/material-dashboard-kit/js/material-dashboard.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function Logout() {
            $('#logoutForm').submit()
        }

        function darkModeToggler() {
            $("body").toggleClass("dark-version")
        }
    </script>

</body>
</html>
