﻿@using LunarDev.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@{
    @inject UserManager<AuthUser> _usermanager
    var user = await _usermanager.GetUserAsync(User);
}

<li class="nav-item mb-2 mt-0">
    @{
        if (User.Identity.IsAuthenticated)
        {

                    <a data-bs-toggle="collapse" href="#ProfileNav" class="nav-link text-white" aria-controls="ProfileNav" role="button" aria-expanded="false">
                    @if (user.ProfilePicture == null)
                {
                        <i class="material-symbols-outlined me-2">account_circle</i>
                } else {
                        <img src="data:image/png;base64,@Convert.ToBase64String(user.ProfilePicture)" class="avatar">
                    }
                        <span class="nav-link-text ms-2 ps-1">@user.FirstName @user.LastName</span>
                    </a>
                    <div class="collapse" id="ProfileNav" style="">
                        <ul class="nav ">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index">
                                    <span class="sidenav-mini-icon"> MP </span>
                                    <span class="sidenav-normal  ms-3  ps-1"> My Profile </span>
                                </a>
                            </li>
                            <li class="nav-item">
                            <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm">
                                <a class="nav-link text-white " href="javascript:Logout()">
                                    <span class="sidenav-mini-icon"> L </span>
                                    <span class="sidenav-normal  ms-3  ps-1"> Logout </span>
                                </a>
                            </form>
                            </li>
                        </ul>
                    </div>
        }
        else
        {
                    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">
                        <i class="material-symbols-outlined me-2">login</i>
                        <span class="sidenav-normal  ms-3  ps-1"> Login </span>
                    </a>
        }
    }
</li>