﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" action="" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 text-dark">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-2">
                    <input asp-for="Username" class="form-control" disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.FirstName" class="form-control" />
                    <label asp-for="Input.FirstName" class="form-label"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.LastName" class="form-control" />
                    <label asp-for="Input.LastName" class="form-label"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.ProfilePicture" style="width: 100%;"></label>
                <div class="d-flex flex-column align-items-center">
                    @if (Model.Input.ProfilePicture != null)
                    {
                        <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" class="rounded-5" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
                    }
                    else
                    {
                        <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" class="border-5" src="">
                    }
                    <input type="file"
                        accept=".png,.jpg,.jpeg,.gif,.tif"
                        class="form-control pb-1 w-50 mt-2"
                        asp-for="Input.ProfilePicture"
                        style="border:0px!important;"
                        onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>

<hr />

<form action="/UserActions/UserApiTokenReset" method="post">
    <section>
        <div class="form-floating mb-2 text-dark position-relative">
            <input asp-for="Input.ApiToken" class="form-control" disabled />
            <label asp-for="Input.ApiToken" class="form-label"></label>
            <button class="btn btn-success position-absolute top-50 end-0 translate-middle" type="submit">Reset Token</button>
            
        </div>
    </section>
</form>
<p class="alert alert-danger mt-2">Clicking on <strong>Reset Token</strong>, will remove the old token from the system and it will no longer work.</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
