﻿@{
    Layout = null;
    var userId = Context.Request.Query["user_id"];
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
    * {
        font-family: 'Titan One', cursive;
    }

    body{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2px;
    }

    h1 {
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center;
    }


</style>

<body>
    <div id="content">

    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/twitch/hub?user_id=@userId").build();

    connection.on("ReceiveMessage", function(user, rewardId, rewardTitle) {
        var audio = $("<audio autoplay><source src='https://uploads.twitchalerts.com/000/457/821/225/FALL%20GUYS%20Woo%20Woo%20Sound%20Effect%20%5BFree%20Ringtone%20Download%5D.mp3' /></audio>")
        var img = $("<img src='https://i.giphy.com/media/e9cWFrk88rC3kxgxz6/giphy.webp'/>")
        var text = $(`<h1>${user} redeemed ${rewardTitle}</h1>`)

        img.hide()
        text.hide()

        $("#content").append(img)
        $("#content").append(text)

        img.fadeIn("20", function() {
            img.delay(7500).fadeOut(1000)
        })
        text.fadeIn("20",  function() {
            text.delay(7500).fadeOut(1000)
        })

        $("#content").append(audio)

        setTimeout(function(){
          img.remove()
          text.remove()
          audio.remove()
        }, 9000)
    })

    connection.start().then(function () {
        console.log("Connection Made")
    }).catch(function (err) {
        return console.error(err.toString());
    });

</script>