<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Desc"]" />
    <title>@ViewData["Title"] - LunarDev</title>
    <link rel="stylesheet" href="~/css/CustomBootstrap.css" />
</head>
<body class="bg-dark">
    <header>
        
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="position-absolute bottom-0 w-100 bg-dark">
        <footer class="border-top footer mb-3 text-light">
            <div class="container pt-2">
                &copy; 2022 - Lunar-Dev - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
