﻿@{
    ViewData["Title"] = "About Me";
}

<section class="text-dark">
    <h2>About Me</h2>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-md-6">
            <p>
                My name is Benjamin Macaulay, I'm a self-taught programmer with no formal education in Computer Science other then my GSCE exam.
                I created this website under the name of <em>Lunar Development</em> as I feel it approite to represent myself through names. 
                A topic that I am very pasionate about is astrophysics and outer space. Hence the name <em>Lunar</em>. Development comes as 
                it states what I do, develop stuff to be used.<br /><br />
                All of my projects are coded by myself using vairty of libraries and different languages. For example this site is created 
                using C# ASP.NET, HTML, CSS and JavaScript. But some of my other projects include some Python and Java language. I have also 
                been able to in my free time complete quite a few different certificates surrounding different languages.
            </p>
        </div>
    </div>
</section>