﻿@{
    ViewData["Title"] = "Home Page";
    ViewData["Desc"] = "Home page for Lunar development projects made by myself (a.k.a Solar404) for everyone to use.";
}

@section Breadcrumb {
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
            <a class="opacity-3 text-light" href="javascript:;">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="breadcrumb-item text-sm text-light active" aria-current="page">Home</li>
    </ol>
    <h6 class="font-weight-bolder mb-0 text-light">Home</h6>
}

    <!-- -------- START HEADER ------- -->
    <header class="position-relative text-center mb-5 shadow shadow-blur bg-transparent rounded-3">
        <div class="page-header min-vh-50 position-relative mb-n1 " style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/nightsky.jpg);">
            <span class="mask bg-gradient-dark"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center mt-5 mx-auto">
                        <h4 class="text-primary fadeIn1 fadeInBottom">Welcome to</h4>
                        <h1 class="text-white fadeIn2 fadeInBottom">Lunar Development</h1>
                        <p class="lead mb-5 fadeIn3 fadeInBottom text-white opacity-6">Software and Useful Tools</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- -------- END HEADER ------- -->

    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ms-auto me-auto text-center">
                    <h3>Some of My Awesome Projects</h3>
                    <p>Below is a few of my projects, for a full list of my projects check the projects page.</p>
                    <a class="btn btn-primary">View More</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-5 ms-auto">
                    <div class="card text-center">
                        <div class="card-body z-index-2 py-9">
                            <h2 class="text-white">Issue Tracker</h2>
                            <label class="badge badge-white text-dark">Tracker</label>
                            <label class="badge badge-white text-dark">Issues</label>
                            <label class="badge badge-white text-dark">To Do List</label>
                        </div>
                        <div class="mask bg-gradient-dark border-radius-lg"></div>
                    </div>
                </div>

                <div class="col-md-5 me-auto my-auto mt-md-auto mt-12">
                    <div class="p-4 info-horizontal d-flex">
                        <div class="icon icon-lg">
                            <div class="icon icon-shape mt-n2 text-center">
                                <i class="fa-solid fa-chart-line text-primary opacity-10"></i>
                            </div>
                        </div>
                        <div class="ms-4">
                            <h4>Track your project</h4>
                            <p>
                                Give each issue a status and view their status history to see when everything has been done
                            </p>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal d-flex">
                        <div class="icon icon-lg">
                            <div class="icon icon-shape mt-n2 text-center">
                                <i class="fa-solid fa-newspaper text-primary opacity-10"></i>
                            </div>
                        </div>
                        <div class="ms-4">
                            <h4>Multiple Projects</h4>
                            <p>
                                Keep track of as many projects as you have. No need to limit to just one board.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-6">
                
                <div class="col-md-5 ms-auto my-auto mt-md-auto">
                    <div class="p-4 info-horizontal d-flex">
                        <div class="icon icon-lg">
                            <div class="icon icon-shape mt-n2 text-center">
                                <i class="fa-solid fa-siren-on text-info opacity-10"></i>
                            </div>
                        </div>
                        <div class="ms-4">
                            <h4>Stream Notification</h4>
                            <p>
                                Get alerts for things on your stream, like channel point redemption or follows
                            </p>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal d-flex">
                        <div class="icon icon-lg">
                            <div class="icon icon-shape mt-n2 text-center">
                                <i class="fa-solid fa-folder-open text-info opacity-10"></i>
                            </div>
                        </div>
                        <div class="ms-4">
                            <h4>Customise the alerts</h4>
                            <p>
                                Customization like never before with features that you will not find anywhere else.
                            </p>
                        </div>
                    </div>
                    
                    <div class="p-3 info-horizontal d-flex justify-content-end">
                        <a href="#" class="btn btn-info">View More</a>
                    </div>
                </div>
                <div class="col-md-5 me-auto">
                    <div class="card bg-cover text-center" style="background-image: url('https://1000logos.net/wp-content/uploads/2018/08/logo-twitch.jpg');
                            background-position: center center;
                            background-size: cover;">
                        <div class="card-body z-index-2 py-9" >
                            <h2 class="text-white">Twitch Notifications</h2>
                            <p class="text-white">
                                
                            </p>
                            <label class="badge badge-white text-dark">Channel Points</label>
                            <label class="badge badge-white text-dark">Notifications</label>
                            <label class="badge badge-white text-dark">Overlay</label>
                        </div>

                        <div class="mask bg-gradient-purple opacity-9 border-radius-lg"></div>
                    </div>
                </div>
            </div>

            



            <hr class="horizontal dark my-6 mx-7">

        </div>
    </section>