﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="row justify-content-center">
    <div class="col-md-5 mt-5 text-center">
        <h1 class="text-danger">Error 403, Access Denied</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <a class="btn btn-primary" asp-action="" asp-controller="Home">Go back to the home page</a>
    </div>
</header>
