﻿@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="row mt-5 justify-content-center align-items-center text-dark">
    <div class="col-md-4">
        <section class="bg-light p-5 rounded-3">
            <h1>@ViewData["Title"]</h1>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                    </form>
                }
                else
                {
                    <p>You have successfully logged out of the application.</p>
                }
            }
        </section>
    </div>
</div>
