﻿#content {
    position: relative;
    display:inline-block;
}

#content * {
    margin-top: 30px;
}

#content img {
    text-align:center;
    width: 100%;
}

#content > h1,
#content > h2,
#content > h3
{
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 2px var(--bs-dark);
    margin-bottom: 30px;
}

#content > p {
    margin-top:10px;
}