﻿.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: initial;
    white-space: nowrap;
    height: calc(83vh - 90px);
}

.scrolling-wrapper .scroll-item {
    display: inline-grid !important;
    border-radius: 20px;
    width: 500px
}

.scroll-item * {
    color: var(--bs-light);
    word-wrap: anywhere;
}

.cat-header {
    border-bottom: solid 2px white;
}


@media (max-width:896px){
    .scrolling-wrapper {
        height: calc(83vh - 110px);
    }

        .scrolling-wrapper .scroll-item {
            display: inline-grid !important;
            border-radius: 20px;
            width: 350px
        }
}