body {
    margin-bottom: 0px;
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle=collapse]:after {
    font-family: Font Awesome\ 6 Pro;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: calc(100vh - 7.5rem)!important
}

.bg-gradient-purple {
    background: hsla(268, 100%, 22%, 1);
    background: linear-gradient(90deg, hsla(268, 100%, 22%, 1) 0%, hsla(267, 38%, 28%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(268, 100%, 22%, 1) 0%, hsla(267, 38%, 28%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(268, 100%, 22%, 1) 0%, hsla(267, 38%, 28%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#33006F", endColorstr="#452C63", GradientType=1 );
}

.text-purple {
    color: #452c63!important;
}