﻿@model LunarDev.Models.BlogArticleModel

@{
    ViewData["Title"] = "Create Article";
}

<h1 class="text-white text-center">Create a new article</h1>

<hr class="text-white"/>
<form enctype="multipart/form-data" asp-action="CreateArticle">
    <div class="row justify-content-center text-white">
        <div class="col-md-4 pb-1 mt-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control pb-1 mt-2" required/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-4 pb-1 mt-2">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control pb-1 mt-2" maxlength="255" required/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-4 pb-1 mt-2">
                <div class="form-group">
                    <label asp-for="Slug" class="control-label"></label>
                    <input asp-for="Slug" class="form-control pb-1 mt-2" maxlength="64" required/>
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-12 pb-1 mt-2">
                <div class="form-group">
                    <label asp-for="Article" class="control-label">Content</label>
                    <textarea asp-for="Article" class="form-control pb-1 mt-2" style="height:200px; resize:vertical" minlength=1000 required></textarea>
                    <span asp-validation-for="Article" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-6 pb-1 mt-2">
                <div class="form-group justify-content-center">
                    <label asp-for="Thumbnail" class="control-label"></label>
                    <input type="file"
                            accept=".png,.jpg,.jpeg,.gif,.tif"
                            class="form-control pb-1 mt-2"
                            asp-for="Thumbnail" 
                            required/>
                    <span asp-validation-for="Thumbnail" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-6 pb-1 mt-2">
                <div class="form-group">
                    <label asp-for="PublishDate" class="control-label"></label>
                    <input asp-for="PublishDate" class="form-control pb-1 mt-2" required/>
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="d-flex flex-column align-items-center">
                <div class="form-group form-check pb-1 mt-2">
                    <label class="form-check-label">
                        <input class="form-check-input " asp-for="IsDraft" required/> Is this a draft?
                    </label>
                </div>
                <div class="form-group pb-1 mt-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" defer>
    let publishDate = document.getElementById("PublishDate");
    var d = new Date();
    publishDate.value = d.toISOString().slice(0,16);
</script>