﻿@model PaginatedList<LunarDev.Models.BlogArticleModel>

@{
    ViewData["Title"] = "Blog";
    ViewData["Description"] = "Lunar Developments blog for programming news and tutorials on certain topics.";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div id="title" class="text-light text-center">
    <h2>Lunar Development Blog</h2>
    <p>Tutorials and news about programming or my own projects.</p>
</div>

<section id="articles">
    <div class="row row-cols-1">
        @{
            foreach (var article in Model)
            {
                    <div class="col">
                        <div class="card m-1">
                            <div class="m-2 row"> 
                                <img class="col-5 rounded-2 my-2" style="height: 250px; " src="data:image/*;base64,@(Convert.ToBase64String(article.Thumbnail))" />
                                <div class="col-7 position-relative my-2 px-3">
                                    <h3 class="text-center">@article.Title</h3>
                                    <small class="position-absolute top-0 end-0 mt-4 mx-3">
                                        <span class="material-symbols-outlined" style="font-size:16px">visibility</span>
                                        @article.Views
                                    </small>
                                    <p class="mx-1">@article.Description</p>
                                    <small class="position-absolute bottom-0 mb-3">
                                        <span class="material-symbols-outlined" style="font-size:16px">schedule</span>
                                        @article.PublishDate
                                    </small>
                                    <a asp-action="ViewArticle" asp-route-slug="@article.Slug" class="btn btn-outline-primary position-absolute bottom-0 end-0 m-3">View More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        }
    </div>
</section>

<br />

<div class="d-flex justify-content-center" aria-label="Blog Navigation">
    <ul class="pagination">
        
        @{
            if (Model.TotalPages > 1)
            {
                <li class="page-item @prevDisabled">
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageIndex - 1)"
                       class="page-link ">
                        Previous
                    </a>
                </li>
                for(int i=1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <a asp-action="Index"
                                asp-route-page=""
                                class="page-link">
                                @i
                            </a>
                        </li>    
                    }
                    else
                    {
                        <li class="page-item">
                            <a asp-action="Index"
                                asp-route-page=""
                                class="page-link">
                                @i
                            </a>
                        </li>    
                    }
                }
                <li class="page-item @nextDisabled">
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageIndex + 1)"
                       class="page-link ">
                        Next
                    </a>
                </li>
            }
        }
        
    </ul>
</div>