﻿@using System.Web
@using System.Net
@model LunarDev.Models.BlogArticleModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
}

@section Style {
    <link rel="stylesheet" href="~/css/ArticlePost.css" />
}

<section class="container mx-5 text-white">
    <h1 class="text-center">@Model.Title</h1>

    <div class="row justify-content-center position-relative">
        <div class="col-9" id="content" style="overflow-wrap:break-word">@Html.Raw(@WebUtility.HtmlDecode(Model.Article))</div>
    </div>
</section>