﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Desc"]" />
    <title>@ViewBag.Title - Lunar Docs</title>
    <link rel="stylesheet" href="~/css/CustomBootstrap.css" />
</head>
<body class="bg-dark container-fluid">
    <section class="row text-light">
        <aside class="col-2 mt-2">
            <h3>Lunar Docs</h3>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link"><h5>Home</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><h5>Home</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><h5>Home</h5></a>
                </li>
            </ul>
        </aside>
        <section class="col-10">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>
</body>
</html>
