﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Desc"]" />

    <title>@ViewData["Title"] - LunarDev</title>

    <!--Page specific css-->
    @RenderSection("Style", false)

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">

    <!--Icons-->
    <link rel="stylesheet" href="~/css/nucleo-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nucleo-svg.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d8ef3bbe55.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!--Css-->
    <link rel="stylesheet" href="~/css/now-design-system-pro.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container position-relative">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                  Lunar Development
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </span>
                </button>
                <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                  <ul class="navbar-nav navbar-nav-hover mx-auto position-absolute start-50 translate-middle-x">
                    <li class="nav-item px-3">
                      <a class="nav-link" asp-controller="Home" asp-action="Index">
                        Home
                      </a>
                    </li>

                    <li class="nav-item px-3">
                      <a class="nav-link" asp-controller="Home" asp-action="About">
                        About
                      </a>
                    </li>

                    <li class="nav-item px-3">
                      <a class="nav-link" asp-controller="Issues" asp-action="Index">
                        Issue Tracker
                      </a>
                    </li>

                    <li class="nav-item px-3">
                      <a class="nav-link" asp-controller="Blog" asp-action="Index">
                        Blog
                      </a>
                    </li>
                  </ul>
                  
                  <ul class="navbar-nav position-absolute end-0">
                    <partial name="~/Views/Shared/_LoginPartial.cshtml" />
                  </ul>

                </div>
              </div>
            </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <div class="position-absolute bottom-0 w-100 mt-6 d-none d-sm-block">
        <footer class="border-top footer mb-3">
            <div class="container pt-2">
                &copy; 2022 - Lunar-Dev - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="link-dark">Privacy</a>
            </div>
        </footer>
    </div>

    <!-- Core -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/material/core/popper.min.js"></script>

    <!-- Theme JS -->
    <script src="~/js/now-design-system-pro.min.js" type="text/javascript"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
