﻿@model IEnumerable<LunarDev.Models.ProjectsModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tracker";
}

<section class="text-dark">
    <div class="text-center">
        <h2>Projects</h2>
    </div>

    <hr class="horizontal" />

    <div class="row row-cols-3">

    @{
        foreach (ProjectsModel project in Model)
        {
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body p-3">
                    <div class="d-flex">
                        <div class="avatar avatar-xl bg-dark border-radius-md p-2">
                            <img style="object-fit:contain; max-width:60px; max-height:60px;" src="data:image/*;base64,@(Convert.ToBase64String(project.Icon))">
                        </div>
                        <div class="ms-3 my-auto">
                            <h6>@project.Title</h6>
                        </div>
                        <div class="ms-auto">
                            <div class="dropdown">
                                <button class="btn btn-link text-secondary ps-0 pe-2" id="ActionMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-lg"></i>
                                </button>
                                <div class="dropdown-menu ms-n4" aria-labelledby="ActionMenu">
                                    <a class="dropdown-item" asp-action="IssueList" asp-route-projectId=@project.Id>View</a>
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#Edit-@project.Id">Edit</a>
                                    <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#Delete-@project.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-sm mt-3"> @project.Description </p>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-6">
                        <h6 class="text-sm mb-0">@project.Issues.Count()</h6>
                        <p class="text-secondary text-sm font-weight-bold mb-0">Issues</p>
                        </div>
                        <div class="col-6 text-end">
                        <h6 class="text-sm mb-0">@project.CreatedDate.ToShortDateString()</h6>
                        <p class="text-secondary text-sm font-weight-bold mb-0">Started date</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <partial name="ProjectEditPartial" model="project"/>
            <partial name="ProjectDeletePartial" model="project"/>
            
        }
    }
    <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body d-flex flex-column justify-content-center text-center">
            <a href="#" data-bs-toggle="modal" data-bs-target="#CreateProject">
              <i class="fa fa-plus text-secondary mb-3"></i>
              <h5 class=" text-secondary"> New project </h5>
            </a>
          </div>
        </div>
        <!-- Modal -->
        <partial name="ProjectCreatePartial" model="new ProjectsModel();"/>
        
      </div>
    </div>
    
</section>
