﻿@model LunarDev.Models.IssuesModel

@{
    ViewData["Title"] = "ProjectEdit";

    var queryString = this.Context.Request.Query.FirstOrDefault(x => x.Key.Equals("projectId")).Value;
}

<div class="modal fade" id="Delete-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="Delete-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form enctype="multipart/form-data" asp-action="IssueDelete" asp-route-id="@Model.Id" id="DeleteForm-@Model.Id">
            <div class="modal-header">
            <h5 class="modal-title" id="Delete-@Model.Id-Title">Delete '@Model.Title?'</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                        <h6>Are you sure you want to delete this project?</h6>
                        <code class="text-danger">Once deleted there will be no way to get it back.</code>
                    </div>
                <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn bg-gradient-primary">Confirm</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>

<script>
    $("#DeleteForm-@Model.Id").submit(function(e) {
        e.preventDefault();

        var form = $(this);
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(),
            success: function(data){
                Kanban.removeElement('@Model.Id');
                $("#Delete-@Model.Id").modal('hide');
            }
        })
    });
</script>