﻿@model LunarDev.Models.IssuesModel

@{
    ViewData["Title"] = "ProjectEdit";

    var queryString = this.Context.Request.Query.FirstOrDefault(x => x.Key.Equals("projectId")).Value;
}

<div class="modal fade" id="IssueCreate" tabindex="-1" role="dialog" aria-labelledby="IssueCreate" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form enctype="multipart/form-data" asp-action="IssueCreate">
            <div class="modal-header">
            <h5 class="modal-title" id="IssueCreate">Create new Issue</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <div class="row">
                <input type="hidden" asp-for="ProjectId"/>
                <div class="col-12">
        
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" required/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Issue" class="control-label"></label>
                        <textarea asp-for="Issue" class="form-control" required></textarea>
                        <span asp-validation-for="Issue" class="text-danger"></span>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-gradient-primary">Save changes</button>
            </div>
        </form>
    </div>
    </div>
</div>