﻿@model LunarDev.Models.IssuesModel

@{
    ViewData["Title"] = "ProjectEdit";

    var queryString = this.Context.Request.Query.FirstOrDefault(x => x.Key.Equals("projectId")).Value;
}

<div class="modal fade" id="Edit-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="Edit-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form enctype="multipart/form-data" asp-action="IssueEdit" id="EditForm-@Model.Id">
                <div class="modal-header">
                    <h5 class="modal-title" id="Edit-@Model.Id-Title">Edit '@Model.Title'</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="ProjectId"/>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" required/>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Issue" class="control-label"></label>
                                <textarea asp-for="Issue" class="form-control" required></textarea>
                                <span asp-validation-for="Issue" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-gradient-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#EditForm-@Model.Id").submit(function(e) {
        e.preventDefault();

        var form = $(this);
        var title = form.find("#Title");
        var issue = form.find("#Issue");
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(),
            success: function(data){
                Kanban.findElement(@Model.Id).innerHTML = title.val();
                $("#View-@Model.Id").find("#Title").val(title.val());
                $("#View-@Model.Id").find("#Issue").val(issue.val());
                $("#View-@Model.Id-Title").text(title.val());
                $("#Edit-@Model.Id").modal('hide')
                $("#Edit-@Model.Id-Title").text("Edit '"+title.val()+"'");
                $("#Delete-@Model.Id-Title").text("Delete '"+title.val()+"'?");
            }
        })

    });

</script>