﻿@model IEnumerable<LunarDev.Models.IssuesModel>
@{
    ViewData["Title"] = "Tracker";
}

@section Scripts {
    <!-- Kanban scripts -->
    <script src="~/lib/material/plugins/dragula/dragula.min.js"></script>
    <script src="~/lib/material/plugins/jkanban/jkanban.min.js"></script>

    <script>
        function onKanbanClick(el) {
            console.log(el)
            const viewModalSelector = "#View-"+el.dataset.eid
            const modal = new bootstrap.Modal(document.querySelector(viewModalSelector))
            modal.show()
        }

        function onDropEl(el, target, source, sibling) {
            var formAction = $("#form-kanban-el-change").attr('action') + `?Id=${el.dataset.eid}&Board=${target.parentElement.dataset.id}`
            $.ajax({
                type: "POST",
                url: formAction,
            })
        }
        

        var boards = [
                {
                    "id"    : "_todo",
                    "title" : "To do",
                    "class" : "",
                    "dragTo": ['_working', '_solved', '_canceled'],
                },
                {
                    "id"    : "_working", 
                    "title" : "Working on",  
                    "dragTo": ['_todo', '_solved', '_canceled']
                },
                {
                    "id"    : "_solved", 
                    "title" : "Solved",  
                    "dragTo": ['_todo', '_working', '_canceled']
                },
                {
                    "id"    : "_canceled", 
                    "title" : "Canceled",  
                    "dragTo": ['_todo', '_working', '_solved']
                },
                
            ]
        var Kanban = new jKanban({
            element          : '#kanban',                                    // selector of the kanban container
            gutter           : '5px',                                       // gutter of the board
            widthBoard       : '300px',                                      // width of the board
            responsivePercentage: true,                                     // if it is true I use percentage in the width of the boards and it is not necessary gutter and widthBoard
            dragItems        : true,                                         // if false, all items are not draggable
            boards           : boards,                                       // json of boards
            dragBoards       : true,                                         // the boards are draggable, if false only item can be dragged
            itemAddOptions: {
                enabled: false,                                              // add a button to board for easy item creation
                content: '+',                                                // text or html content of the board button   
                class: 'kanban-title-button btn btn-default btn-xs',         // default class of the button
                footer: false                                                // position the button on footer
            },   
            
            click            : function (el) {onKanbanClick(el)},                             // callback when any board's item are clicked
            context          : function (el, event) {},                      // callback when any board's item are right clicked
            dragEl           : function (el, source) {},                     // callback when any board's item are dragged
            dragendEl        : function (el) {},                             // callback when any board's item stop drag
            dropEl           : function (el, target, source, sibling) {onDropEl(el, target, source, sibling)},    // callback when any board's item drop in a board
            dragBoard        : function (el, source) {},                     // callback when any board stop drag
            dragendBoard     : function (el) {},                             // callback when any board stop drag
            buttonClick      : function(el, boardId) {},                     // callback when the board's button is clicked
            propagationHandlers: [],    
        });

        
        
        function resize(){
            var container = document.querySelector(".kanban-container")
            var containerTopLevel = document.querySelector("#kanban-container")
            var windowWidth = window.innerWidth
            var result = (container.clientWidth / windowWidth) * 100
            if (result >= 85 ){
                containerTopLevel.setAttribute("style", "overflow-x:scroll;")
            }
            else {
                containerTopLevel.setAttribute("style", "overflow-x:auto;")
            }
        }
        resize()

        window.onresize = resize

        function ViewEditClick(id){
            var viewEl = $("#View-"+id)
            viewEl.modal('hide')

            var editEl = $("#Edit-"+id)
            editEl.modal('show')

            editEl.on('hide.bs.modal', event => {
                viewEl.modal('show')
            })
        }

        function ViewDeleteClick(id){
            var viewEl = $("#View-"+id)
            viewEl.modal('hide')

            var deleteEl = $("#Delete-"+id)
            deleteEl.modal('show')
        }
    </script>

    @foreach (var item in Model)
    {
        if (item.Status == IssueStatus.Todo) {
            <text>
                <script>
                    var boardId = "_todo"
                </script>
            </text>
        }
        else if (item.Status == IssueStatus.Progress) {
            <text>
                <script>
                    var boardId = "_working"
                </script>
            </text>
        }
        else if (item.Status == IssueStatus.Solved) {
            <text>
                <script>
                    var boardId = "_solved"
                </script>
            </text>
        }
        else if (item.Status == IssueStatus.Canceled) {
            <text>
                <script>
                    var boardId = "_canceled"
                </script>
            </text>
        }

        <text>
            <script>

                Kanban.addElement(boardId, {
                    'id': '@item.Id',
                    'title': '@item.Title',
                    'status': '@item.Status',
                    'issue': '@item.Issue',
                    'date': '@item.CreatedDate.ToShortDateString()'
                })
            </script>
        </text>
        <partial name="IssueViewPartial" model="item"/>
        <partial name="IssueEditPartial" model="item"/>
        <partial name="IssueDeletePartial" model="item"/>
    }
}

@section Style {
        <link rel="stylesheet" href="~/css/jkanban.min.css">
        <style>
            .kanban-container {
                overflow: auto!important;
                display: block!important;
            }
            @@media (max-width:700px){
                .kanban-container {
                    display:flex!important;
                    flex-direction:column!important;
                }

                .kanban-board {
                    margin-bottom: 5px!important;
                    width: 100%!important;
                }
            }
        </style>
}
    <button class="btn btn-primary" data-bs-target="#IssueCreate" data-bs-toggle="modal">Create new issue</button>
    <div class="my-3 mx-2" id="kanban-container">
    <div class="w-100 py-2 d-inline-flex justify-content-center">
      <div class="w-100" id="kanban"></div>
    </div>
  </div>
  <div class="hidden opacity-50 fixed inset-0 z-40 bg-black" id="jkanban-info-modal-backdrop"></div>
  <form id="form-kanban-el-change" asp-action="IssueBoardChange"></form>
  <partial name="IssueCreatePartial" model="new IssuesModel()"/>
 

