﻿@model LunarDev.Models.IssuesModel

@{
    ViewData["Title"] = "ProjectEdit";

    var queryString = this.Context.Request.Query.FirstOrDefault(x => x.Key.Equals("projectId")).Value;
}

<div class="modal fade" id="View-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="Views-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form enctype="multipart/form-data" asp-action="IssueEdit">
            <div class="modal-header">
            <h5 class="modal-title" id="View-@Model.Id-Title">View @Model.Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ProjectId"/>
                    <div class="form-group disabled">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" disabled/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group disabled">
                        <label asp-for="Issue" class="control-label"></label>
                        <textarea asp-for="Issue" class="form-control" disabled></textarea>
                        <span asp-validation-for="Issue" class="text-danger"></span>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn bg-gradient-primary" onclick="ViewEditClick(@Model.Id)">Edit</button>
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn bg-gradient-danger" onclick="ViewDeleteClick(@Model.Id)">Delete</button>
            </div>
        </form>
    </div>
    </div>
</div>