﻿@model LunarDev.Models.ProjectsModel

<div class="modal fade" id="Edit-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="Edit-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form enctype="multipart/form-data" asp-action="ProjectEdit">
            <div class="modal-header">
            <h5 class="modal-title" id="Edit-@Model.Id">Edit @Model.Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
        
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Icon" class="control-label"></label>
                        <input type="file"
                                    accept=".png,.jpg,.jpeg,.gif,.tif"
                                    class="form-control pb-1 mt-2"
                                    asp-for="Icon" 
                                    />
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-gradient-primary">Save changes</button>
            </div>
        </form>
    </div>
    </div>
</div>

