﻿@model LunarDev.Models.ProjectsModel

<div class="modal fade" id="Delete-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="Delete-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form enctype="multipart/form-data" asp-action="ProjectDelete" asp-route-id="@Model.Id">
                <div class="modal-header">
                    <h5 class="modal-title" id="Delete-@Model.Id">Delete @Model.Title?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h6>Are you sure you want to delete this project?</h6>
                        <code class="text-danger">Once deleted there will be no way to get it back.</code>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-gradient-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


